% 全局启用apt开关
processor.enable=true
processor.allInTables.enable=true
% APT 开启 Mapper 生成
processor.mapper.generateEnable=true
processor.mapper.annotation=true
% 不允许覆盖已存在的Mapper文件
processor.mapper.overrideExists=false
% APT 过滤 Entity 后缀
% processor.tableDef.ignoreEntitySuffixes=Model, Dto
% 是否所有的类都生成在 Tables 类里
% processor.allInTables.enable=true
% Tables 包名
% processor.allInTables.package=com.seventeen.svt.entity.table



